/* fraunces-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fraunces-v38-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v31-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v31-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --black: #1C232B;
    --grey: #6C7289;
    --cream: #F2EAE2;
    --white: #FFFFFF;
    --light-green: #3D8168;
    --dark-green: #1A4032;

    --spacing-7: 5rem;
    --spacing-6: 2.5rem;
    --spacing-5: 2rem;
    --spacing-4: 1.5rem;
    --spacing-3: 1rem;
    --spacing-2: 0.5rem;
    --spacing-1: 0.25rem;
}

*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    margin: 0 var(--spacing-2);
    margin-top: var(--spacing-7);
    margin-top: clamp(2.5rem, -7.5rem + 57.14285714285714vw, 5rem);
    max-width: 21.875rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
}

.main__picture { 
    display: block; 
    width: 100%; 
}

.main__picture .main__image { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.product {
    padding: var(--spacing-5);
    padding: clamp(1rem, -3rem + 22.857142857142858vw, 2rem);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    gap: clamp(0.75rem, -2.25rem + 17.142857142857142vw, var(--spacing-4));
}

.product__header {
    display: flex;
    flex-direction: column;
    text-wrap: balance;
    gap: var(--spacing-4);
    gap: clamp(0.75rem, -2.25rem + 17.142857142857142vw, var(--spacing-4));
}

.product__type, .product__description {
    color: var(--grey);
}

.product__title {
    color: var(--black);
}

.product__pricebox {
    display: flex;
    align-items: center;
    gap: var(--spacing-3);
}

.product__price-current {
    color: var(--light-green);
}

.product__price-original {
    text-decoration: line-through;
    color: var(--grey)
}

.product__button {
    border-radius: var(--spacing-2);
    padding: var(--spacing-3) var(--spacing-5);
    border: none;
    background-color: var(--light-green);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2);
    transition: background-color 0.3s ease;
}

.product__button:hover {
    background-color: var(--dark-green);
    cursor: pointer;
}

.product__button > .product__button-icon {
    height: auto;
    width: auto;
}

.fraunces-bold, .montserrat-bold,
.montserrat-medium, .montserrat-medium-spaced,
.montserrat-medium-spaced-sub {
    font-optical-sizing: auto;
    font-style: normal;
}
.montserrat-bold,
.montserrat-medium, .montserrat-medium-spaced,
.montserrat-medium-spaced-sub {
    font-family: "Montserrat", sans-serif;
}

.fraunces-bold {
    font-family: "Fraunces", serif;
    font-size: 2rem;
    font-size: clamp(1.5rem, -0.5rem + 11.428571428571429vw, 2rem);
    font-weight: 700;
    line-height: 100%;
}

.montserrat-bold {
    font-weight: 700;
    font-size: 0.875rem;
    font-size: clamp(0.65625rem, -0.8750000000000002rem + 8.75vw, 0.875rem);
    line-height: 110%;
    letter-spacing: 0rem;
}

.montserrat-medium {
    font-weight: 500;
    font-size: 0.875rem;
    font-size: clamp(0.65625rem, -0.8750000000000002rem + 8.75vw, 0.875rem);
    line-height: 160%;
    letter-spacing: 0rem;
}

.montserrat-medium-spaced {
    font-weight: 500;
    font-size: 0.75rem;
    font-size: clamp(0.5625rem, -0.7500000000000002rem + 7.500000000000001vw, 0.75rem);
    line-height: 120%;
    letter-spacing: 0.3125rem;
}

.montserrat-medium-spaced-sub {
    font-weight: 500;
    font-size: 0.8125rem;
    font-size: clamp(0.609375rem, -0.8125rem + 8.125vw, 0.8125rem);
    line-height: 120%;
    letter-spacing: 0rem;
}
footer { 
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.6875rem;
    padding: 0.5rem 0;
    background: transparent;
    pointer-events: none;
}
    
footer a { 
    pointer-events: auto;
    color: hsl(228, 45%, 44%); 
}
@media screen and (min-width: 48rem) {
    body {
        justify-content: center;
    }
    .main {
        margin: 0;
        flex-direction: row;
        max-width: 37.5rem;
    }
    .product__header {
        display: flex;
        flex-direction: column;
        text-wrap: wrap;
        gap: var(--spacing-4);
    }
    .main__picture {
        width: 50%;
    }
    .main__image {
        height: 100%;
    }
    .product {
        width: 50%;
        gap: var(--spacing-5);
    }
    footer {
        position: absolute;
    }
}

